<div class="gen-carousel swiper-container" data-ng-class="vm.obj.id">
    <div data-ng-if="vm.obj.enabled" class="swiper-wrapper" data-ng-transclude></div>
    <div data-ng-if="vm.obj.pagination" class="{{vm.obj.id}}-swiper-pagination swiper-pagination"></div>
    <div data-ng-if="vm.obj.navigation" class="{{vm.obj.id}}-swiper-button-prev swiper-button-prev"><i
            class="fa fa-chevron-left"></i></div>
    <div data-ng-if="vm.obj.navigation" class="{{vm.obj.id}}-swiper-button-next swiper-button-next"><i
            class="fa fa-chevron-right"></i></div>
    <div data-ng-if="vm.obj.pagination" class="{{vm.obj.id}}-swiper-scrollbar swiper-scrollbar"></div>
    <div class="fullscreen-close" data-ng-click="vm.close()">
        <span class="fa fa-close"></span>
    </div>
</div>